html {
	background-color: #400458;
}

body {
	align: center;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.box {
	margin: 20px auto;
	padding: 15px 15px;
	width: 920px;
	background-color: white;
}